@import 'tailwindcss';

html {
  @apply font-sans;
}

a {
  @apply bg-blue-700;
}

a:hover {
  @apply bg-blue-900;
}

h1 {
  @apply text-5xl leading-tight capitalize;
}

.form-row {
  @apply m-0 w-full text-left;
}

.form-label {
  @apply m-0 capitalize;
}

.form-input {
  @apply w-full p-2 mb-2 border-1 rounded;
}

.submit-button {
  @apply border-1 rounded cursor-pointer w-full capitalize p-2 mt-2 bg-blue-600 text-white;
}

button {
  @apply border-1 rounded cursor-pointer capitalize p-2 mt-2 bg-blue-600 text-white;
}

button:hover {
  @apply bg-blue-500;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.album-image {
  overflow: hidden;
}
